body {
    margin: 0;
    padding: 0;
    background: url(gen4.png) no-repeat fixed right; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgb(178, 184, 195);
    color: white;
    font-family: 'Allerta Stencil', sans-serif;
}

.swal2-popup {
    background: rgba(29,29,29, .9)!important;
}

.swal2-title {
    text-align: center;
    color: white!important;
}

.failedPokemon {
    display: block;
}
