.pokemans-container {
    /* margin-left: 15%; */
    margin-right: 25%;
}

.pokemans {
    cursor: pointer;
    float: left;
    justify-content: center;
    align-items: center;
    margin: 1%;
    max-width: 170px;
    /* text-align: center; */
}

@media only screen and (max-width: 999px) {
    .pokemans {
        max-width: 25%;
    }
}

@media only screen and (max-width: 885px) {
    .pokemans-container {
        margin-right: 35%;
    }
}