.section-intro {
    padding: 2% 0 2% 1%;
    font-size: 1.3rem;
    /* font-weight: 400; */
    color: white;
    border-bottom: 1px solid;
    margin-right: 25%;
    float: left;
    margin-bottom: 2%;
}

.intro-pic {
    padding-top: 1%;
    max-width: 170px;
}

p {
    align-items: center;
    text-align: center;
    padding-right: 5%;
    float: right;
    width: 70%;
}

@media only screen and (max-width: 999px) {
    .intro-pic {
        padding-top:2%;
        max-width: 25%;
    }
  }

  @media only screen and (max-width: 885px) {
    .section-intro {
        padding-top: 1%;
        margin-right: 40%;
        font-size: 1rem;
        
    }
}

@media only screen and (max-width: 768px) {
    .intro-pic {
        padding-top: 2%;
        max-width: 110px;
    }
    .section-intro {
        font-size: .9rem;
        margin-right: 33%;
    }
  }

  @media only screen and (max-width: 666px) {
    .intro-pic {
        padding-top: 6%;
        max-width: 120px;
    }

    .section-intro {
        font-size: 1.2rem;
        margin-right: 0;
        background-color: rgba(29,29,29,.8);
    }
  }

  @media only screen and (max-width: 484px) {
    .intro-pic {
        padding-top: 8%;
        max-width: 110px;
    }

  }