.section-intro {
    padding: 3.5% 0 2% 1%;
    color: black;
    border-bottom: 1px solid;
    margin-right: 35%;
    float: left;
    margin-bottom: 2%;
}

.intro-pic {
    max-width: 20%;
}

p {
    padding-top: 3%;
    /* display: flex; */
    align-items: center;
    text-align: center;
    padding-right: 5%;
    float: right;
    width: 70%;
}